{
  "FuturesMarginPoolModule": {
    "withdrawAdmin": "0xYOUR_WITHDRAW_ADMIN_ADDRESS",
    "admin": "0xYOUR_ADMIN_ADDRESS",
    "vaults": "0xYOUR_VAULTS_ADDRESS",
    "feeAddress": "0xYOUR_FEE_ADDRESS",
    "marginCoinAddress": "0x337610d27c682E347C9cD60BD4b3b107C9d34dDd"
  }
}
